{% extends "index.html" %}

{% block title %}
Gear4Music | Instruments
{% endblock %}

{% block body %}

<div class="container mt-5">
    <h2 class="text-center display-3 text-warning mb-4 font-weight-bold">
        INSTRUMENTS
    </h2>

    {% if current_user.role == 'admin' %}
    <div class="text-center mb-4">
        <a href="/instrument/create/" class="btn btn-primary btn-lg px-4 py-2 rounded-pill shadow-lg">
            Add Instrument
        </a>
    </div>
    {% endif %}

    <div class="row">
        {% for instrument in instruments %}
        <div class="col-md-4 mb-4">
            <div class="card text-center shadow-lg">
                <img src="{{ instrument.image }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{instrument.name}}</h5>
                    <div class="btn-group" role="group" aria-label="Instrument Actions">
                        <a href="/instrument/{{instrument.id}}/details/" class="btn btn-info">Details</a>
                        {% if current_user.role == 'admin' %}
                        <a href="/instrument/{{instrument.id}}/update/" class="btn btn-warning">Update</a>
                        <a href="/instrument/{{instrument.id}}/delete/" class="btn btn-danger"
                            onclick="return confirm(&quot;Are you sure you want to delete {{ instrument.name }}?&quot;);">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}